/* ==== General ==== */
body{
   background-color: #f8f0e3;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
}

/* ==== Heading ==== */
.header {
   text-align: center;
   width: 85%;
}

h1 {
   color: #452813;
   font-family: 'Noto Serif', serif;
   font-size: 6vw;
   margin-bottom: 0em;
}

.search-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: auto;
}

.search-bar img {
   width: 12%;
}

form {
   width: 100%;
}

input:hover {
   border: 2px solid #623500;
}

#userInput {
   width: 90%;
   padding: .5em;
   /* rgb with transparency */
   background-color: rgba(69,40,19,0.3);
   border-radius: 25px;
}

button {
   border: none;
   background-color: #f8f0e3;
   cursor: pointer;
}


/* === Container 2  === */
.container2 {
   width: 80%;
   margin-bottom: 2em;
}

.book-images img {
   width: 55%;
}

h3, h4, #overview {
   color: #452813;
   border-bottom: 1px solid lightgray;
}

/* ==== Carousel ==== */
.carousel-container {
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 1.5em 0 1.5em 0;
}

.book-images {
   display: flex;
   justify-content: center;
   width: 35%;
}

.carousel-container img {
   display: none;
   align-self: center;
   filter: drop-shadow(4px 5px 3px gray);
}

.book-images img:first-of-type {
   display: block;
}

.carousel-button {
   display: flex;
   align-items: center;
}

/* ==== Search Area ==== */
#bookTitle {
   font-size: 4vw;
   margin: auto;
}

#description, #genre, #ratings {
   font-size: 1.3vw;
   line-height: 1.5;
}

.book-info {
   display: flex;
   flex-direction: column;
   width: 80%;
   height: auto;
   align-items: center;
   margin: 0;
}

.overviewContent {
   width: 80%;
}

#authors {
   font-size: 1.5vw;
   text-align: center;
   margin: 0.3em 0 0 0;
   border: none;
   color: black;
}

#imageLink {
   width: 30%;
   filter: drop-shadow(0 0 0.75rem gray);
   margin: 1.5em 0 2em 0;
   text-align: center;
}

#imageLink img {
   width: 67%;
}

/* ==== Footer ==== */
.footer {
   display: flex;
   flex-direction: column;
   width: 80%;
}

.socials {
   display: flex;
   justify-content: center;
   width: 50%;
   justify-content: space-between;
}

.socials img {
   width: 5%;
}

/*  */
